table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    position: relative;
    padding: 20px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tr, th, td {
    border: 1px solid purple;
}

